@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}



.background {
    
    margin: auto;
    margin-top: 60px;

    width: 312px;
    height: 675px;

    background-color: black;
    border-radius: 50px;
}

.display {
    color: white;
    font-family: Inter;
    font-weight: 300;
    font-size: 64px;
    text-align: end;
    margin-right: 30px;
    padding-top: 150px;
    margin-bottom: 24px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.smallButton {
    width: 60px;
    height: 60px;
    text-align: center;
}

.largeButton {
    width: 132px;
    height: 60px;
    text-align: start;
    padding-left: 24px;
}

.smallButton,
.largeButton {
    font-family: Inter;
    border-radius: 100px;
    border: none;

    font-size: 30px;
    
}

.greyButton  {
    background-color: #9e9e9e;
}

.smallButton.orangeButton {
    background-color: #ff9900;
    color: white;
    font-size: 36px;
}

.darkButton {
    background-color: #3d3c3c;
    color: white;
}


.whiteBar {
    background-color: white;
    width: 100px;
    height: 4px;;
    border-radius: 20px;
    margin: auto;
    margin-top: 45px;
}